# Ignore compiled class files
/bin/
*.class

# Ignore logs
*.log

# Ignore IDE settings (VS Code, IntelliJ, Eclipse, NetBeans)
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# Ignore OS files
.DS_Store
Thumbs.db